* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.sign {
  border: 1px solid black;
  background-color: white;
  font-weight: 400;
  padding: 10px 15px;
  border-radius: 50px;
}
.sign:hover {
  background-color: #f3f1e7;
}

.join {
  border: none;
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
}
.join:hover {
  background-color: #1e3932;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

header {
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 999;
}
header img {
  width: 2.5em;
  background-color: none;
  margin-right: 1.2em;
}
header .navigation {
  display: none;
  width: 100%;
}
@media screen and (min-width: 48.125em) {
  header .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
header .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
header .navigation li {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 900;
  font-size: 0.8em;
  cursor: pointer;
}
header .navigation li:hover {
  color: #008248;
}
header .navigation .sign, header .navigation .join {
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
}
header ion-icon {
  font-size: 2em;
}
header .hamburger {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media screen and (min-width: 48.125em) {
  header .hamburger {
    display: none;
  }
}
header .hamburger:hover {
  background-color: #f3f1e7;
  cursor: pointer;
}

main {
  padding: 1.5em;
  position: relative;
}
@media screen and (min-width: 47.125em) {
  main {
    padding: 1.5em 1.5em 1.5em 5em;
  }
}
@media screen and (min-width: 63.75em) {
  main .mainWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
main .bottomNav {
  display: none;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #edebe9;
  margin-top: -1.5em;
  margin-left: -5em;
  margin-right: -1.5em;
  margin-bottom: 2em;
}
@media screen and (min-width: 48.125em) {
  main .bottomNav {
    display: block;
  }
}
main .bottomNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 1em;
  margin-left: 4.5em;
}
main .bottomNav a {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.8em;
  font-weight: 900;
}
main .sideNav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  z-index: 998;
  color: white;
  height: 100%;
  width: 80%;
  background-color: white;
  -webkit-animation: appear 0.5s ease-in-out;
          animation: appear 0.5s ease-in-out;
}
main .sideNav ul {
  border-bottom: 1px solid #1e3932;
  padding-bottom: 2em;
}
main .sideNav li {
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .sideNav a {
  color: #000000;
  font-size: 1.5em;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 900;
}
main .sideNav ion-icon {
  font-size: 2em;
  color: #008248;
}
main .sideNav .bottomPart {
  margin-top: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
main .sideNav .bottomPart > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
main .sideNav .bottomPart > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
main .sideNav .bottomPart > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
main .sideNav .bottomPart > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
main .sideNav .bottomPart > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
}
main .sideNav .bottomPart .grid_item {
  width: 80%;
}
main .sideNav span {
  color: #000000;
}
main .sideNav .menuSideNav {
  display: none;
  position: absolute;
  z-index: 998;
  top: 0;
  right: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 1.5em;
  -webkit-animation: appear 0.5s ease-in-out;
          animation: appear 0.5s ease-in-out;
}
main .sideNav .menuSideNav #back {
  background-color: #f1f8f6;
  border: none;
  height: auto;
  padding: 10px;
  width: calc(100% + 3em);
  margin-left: -1em;
  margin-right: -1em;
  margin-top: -1em;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3em;
  font-size: 1.5em;
}
main .sideNav .menuSideNav li {
  font-size: 1.5em;
  font-family: "Roboto Slab", sans-serif;
  color: #000000;
}
main .sideNav .menuNav {
  cursor: pointer;
}
@-webkit-keyframes appear {
  from {
    right: -1000px;
  }
  to {
    right: 0;
  }
}
@keyframes appear {
  from {
    right: -1000px;
  }
  to {
    right: 0;
  }
}
main .active {
  display: block;
}
main .leftNav {
  display: none;
}
@media screen and (min-width: 63.75em) {
  main .leftNav {
    display: block;
  }
}
main .leftNav ul {
  list-style: none;
  margin-top: 0.5em;
}
main .leftNav li {
  margin-bottom: 1em;
}
main .leftNav a {
  color: rgba(0, 0, 0, 0.58);
  font-size: 1em;
  font-weight: bold;
}
main h1, main h2 {
  font-family: "Roboto Slab", sans-serif;
  margin-bottom: 1em;
}
main h2 {
  border-bottom: 1px solid #1e3932;
  padding-bottom: 0.5em;
  font-size: 1em;
}
main .menuWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 47.125em) {
  main .menuWrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
main .menuWrap ul {
  list-style: none;
  margin-bottom: 0.8em;
}
main .menuWrap li {
  margin-bottom: 0.8em;
}
main .menuWrap a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  text-decoration: none;
  font-family: "Roboto Slab", sans-serif;
  color: #000000;
  font-weight: lighter;
  font-size: 0.8em;
  width: 300px;
}
@media screen and (min-width: 47.125em) {
  main .menuWrap a {
    font-size: 1em;
  }
}
main .menuWrap img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}

.headerList {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 900;
  margin-bottom: 1em;
  color: #000000;
}

footer {
  padding: 1.5em;
  margin-top: 1em;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
}
footer .mobileFooter {
  display: block;
}
@media screen and (min-width: 63.75em) {
  footer .mobileFooter {
    display: none;
  }
}
footer .footerItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5em;
  font-family: "Roboto Slab", sans-serif;
  font-size: 0.8em;
  cursor: pointer;
}
footer .footerNav {
  display: none;
}
footer .desktopFooter {
  display: none;
  width: 100%;
}
@media screen and (min-width: 63.75em) {
  footer .desktopFooter {
    display: -ms-grid;
    display: grid;
    gap: 1em;
    -ms-grid-columns: 1fr 1em 1fr 1em 1fr 1em 1fr 1em 1fr;
    grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  footer .desktopFooter > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  footer .desktopFooter > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  footer .desktopFooter > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  footer .desktopFooter > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  footer .desktopFooter > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
  }
}
footer .desktopFooter .flex_item {
  width: 10%;
}
footer .desktopFooter a {
  color: #000000;
}
footer .desktopFooter li {
  margin-bottom: 0.5em;
}
footer .footerBottom {
  margin-top: 1.5em;
}
footer .socialMediaWrap {
  border-top: 1px solid #1e3932;
  padding-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em;
}
footer .socialMediaWrap img {
  width: 1.5em;
}
footer .copyright {
  font-size: 0.7em;
  margin-top: 1.5em;
  color: #1e3932;
  font-weight: 700;
}
@media screen and (min-width: 47.125em) {
  footer {
    padding: 1.5em 1.5em 1.5em 5em;
  }
}

.stickyPart {
  background-color: #1e3932;
  color: #d4e9e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: sticky;
  bottom: 0;
  padding: 0.5em 1.5em;
  cursor: pointer;
}
.stickyPart .storeLocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}
.stickyPart .storeLocation p {
  font-size: 0.7em;
}