@import './variables';
@import './mixin';

* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Lato',sans-serif;
    font-size: 16px;
}

header {
    padding : 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);


    img {
        width : 2.5em;
        background-color: none;
        margin-right: 1.2em;
    }

    .navigation {
        display: none;
        width : 100%;

        @include mQ(48.125em) {
            display: flex;
            justify-content: space-between;
        }

        ul {
            display: flex;
            align-items: center;
            gap : 1em;
        }
        
        li {
            font-family: 'Roboto Slab',sans-serif;
            font-weight: 900;
            font-size: .8em;
            cursor: pointer;

            &:hover {
                color : $brown;
            }
        }

        .sign,.join {
            padding : 5px 10px;
            border-radius: 50px;
            cursor: pointer;
        }

        .sign {
            border : 1px solid black;
            background-color: white;
            font-weight: 400;


            &:hover {
                background-color: $gray;
            }
        }

        .join {
            border: none;
            background-color: black;
            color : white;

            
            &:hover {
                background-color: $dark_gray;
            }
        }
    }

    .hamburger {
        background-color: transparent;
        border: none;
        padding : 10px;
        cursor: pointer;

        @include mQ(48.125em) {
            display: none;
        }
    }
}

main {
    padding : 1.5em;

    @include mQ(47.125em) {
        padding : 1.5em 1.5em 1.5em 5em;
    }

    .mainWrap {
        
        @include mQ(63.75em) {
            display: flex;
            justify-content: space-between;
        }
    }
    .bottomNav {
        display: none;
        padding : 10px;
        background-color: #f9f9f9;
        border: 1px solid #edebe9;
        margin-top: -1.5em;
        margin-left : -5em;
        margin-right: -1.5em;
        margin-bottom: 2em;

        @include mQ(48.125em) {
            display: block;
        }

        ul {
            display: flex;
            list-style: none;
            gap : 1em;
            margin-left: 4.5em;
        }

        a {
            color : rgba(0,0,0,.87);
            font-size: .8em;
            font-weight: 900;
        }
    }

    .leftNav {
        display: none;

        @include mQ(63.75em) {
            display: block;
        }

        ul {
            list-style: none;
            margin-top: .5em;
        }

        li {
            margin-bottom: 1em;
        }

        a {
            color : rgba(0,0,0,.58);
            font-size: 1em;
            font-weight: bold;
        }


         .headerList {
            font-family: 'Roboto Slab', sans-serif;
            font-weight: 900;
            margin-bottom: 1em;
            color : $black;
        }
    }

    h1,h2 {
        font-family: 'Roboto Slab',sans-serif;
        margin-bottom: 1em;
    }

    h2 {
        border-bottom: 1px solid $dark_gray;
        padding-bottom: .5em;
        font-size: 1em;
    }


    .menuWrap {
        display: flex;
        flex-direction: column;

        @include mQ(47.125em) {
            flex-direction: row;
            justify-content: flex-start;
            // gap : 5em;
        }

        ul {
            list-style: none;
            margin-bottom: .8em;
        }

        li {
            margin-bottom: .8em;
        }

        a {
            display: flex;
            align-items: center;
            gap : 1em;
            text-decoration: none;
            font-family: 'Roboto Slab',sans-serif;
            color : $black;
            font-weight: lighter;
            font-size: .8em;
            width : 300px;

            @include mQ(47.125em) {
                font-size: 1em;
            }
        }
        img {
            width : 4em;
            height : 4em;
            border-radius: 50%;
        }
    }
}

footer {
    padding : 1.5em;
    margin-top : 1em;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);

    .footerItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5em;
        font-family: 'Roboto Slab',sans-serif;
        font-size: .8em;
        cursor: pointer;
    }

    .footerNav {
        display: none;
    }

    .desktopFooter {
        display: none;
    }

    .footerBottom {
        margin-top: 1.5em;
    }

    .socialMediaWrap {
        border-top: 1px solid $dark_gray;
        padding-top: 2em;
        display: flex;
        gap : .5em;
        img {
            width : 1.5em;
        }
    }

    .copyright {
        font-size: .7em;
        margin-top: 1.5em;
        color : $dark_gray;
        font-weight: 700;
    }
    // footer desktop
    @include mQ(47.125em) {
        padding : 1.5em 1.5em 1.5em 5em;
    }
}
.stickyPart {
    background-color: $dark_gray;
    color : $light_gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    padding : .5em 1.5em;
    cursor: pointer;

    .storeLocation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width : 90%;

        p {
            font-size: .7em;
        }
    }

}