* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  padding: unset;
}

body {
  font-family: "Roboto Slab", sans-serif;
}

p {
  font-size: 1em;
}

a {
  color: #1e3932;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

h2 {
  border-bottom: none !important;
}

h3 {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 1em;
}

.rewardNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: #1e3932;
  border: 1px solid #edebe9;
}
.rewardNav div {
  color: white;
  font-family: "Roboto Slab", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.8em;
}
.rewardNav .buttonNav {
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  font-weight: 900;
}
.rewardNav .buttonNav:hover {
  background-color: #008248;
}
@media screen and (min-width: 47.8125em) {
  .rewardNav .buttonNav {
    display: none;
  }
}

.hero {
  background-color: #d4e9e2;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 47.8215em) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.hero .heroDesc {
  margin-top: 1em;
}
@media screen and (min-width: 47.8215em) {
  .hero .heroDesc {
    text-align: left;
    margin-left: 1em;
  }
}
@media screen and (min-width: 47.8215em) {
  .hero .heroDesc h1 {
    font-size: 2.5em;
  }
}
.hero .heroDesc p {
  text-decoration: none;
}
@media screen and (min-width: 47.8215em) {
  .hero .heroDesc p {
    font-size: 1.2em;
  }
}
.hero .heroDesc a {
  text-decoration: none;
}
.hero .heroDesc a:hover {
  text-decoration: underline;
}
.hero .imageHero {
  background-image: url("../asset/hero-mobile_2021.jpg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: cover;
  width: 100%;
  height: 60vh;
}
@media screen and (min-width: 47.8215em) {
  .hero .imageHero {
    background-image: url("../asset/xl-hero-desktop_2021.png");
    background-position: -30em center;
    width: 60%;
  }
}
.hero .cta-join {
  margin-block: 2em 1em;
  background-color: #008248;
  color: white;
  font-weight: 900;
  font-size: 1em;
  padding: 10px 15px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.item_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.8em;
  margin-top: 2em;
}

.rules {
  padding: 4em 1em;
}
.rules h2 {
  font-size: 2em;
}
.rules h2, .rules p {
  text-align: center;
}
.rules p {
  font-size: 0.9em;
}
.rules .rulesWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3em;
}
@media screen and (min-width: 47.8125em) {
  .rules .rulesWrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2em;
  }
}
.rules .number {
  padding: 10px;
  border: 2px solid #008248;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2em;
  color: #008248;
}
.rules .rules_description {
  width: 100%;
}
.rules .rules_description p {
  text-align: left;
}
@media screen and (min-width: 47.8125em) {
  .rules .rules_description p {
    text-align: center;
    font-size: 1.1em;
    line-height: 1.5em;
  }
}
@media screen and (min-width: 48.8215em) {
  .rules .rules_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.rewards {
  background-color: rgba(212, 233, 226, 0.33);
  text-align: center;
}
.rewards h2 {
  font-size: 2em;
  padding-top: 20px;
}
.rewards .pointsWrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
.rewards .pointsWrap button {
  border: none;
  background-color: transparent;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px;
  cursor: pointer;
}
.rewards .pointsWrap .clicked {
  border-bottom: 3px solid #008248;
}
.rewards .pointsWrap .color {
  background-color: yellow;
}
.rewards .rewardsItem {
  -webkit-box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.14);
          box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.14);
  background-color: #d4e9e2;
}
@media screen and (min-width: 47.8125em) {
  .rewards .rewardsItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-block: 3em;
  }
}
.rewards .rewardsItem img {
  width: 100%;
  height: auto;
}
.rewards .rewardsItem div {
  padding: 20px;
}
@media screen and (min-width: 47.8125em) {
  .rewards .rewardsItem div {
    text-align: left;
  }
}
@media screen and (min-width: 47.8125em) {
  .rewards .rewardsItem h3 {
    font-size: 1.6em;
  }
}

.extras {
  padding: 20px;
}
.extras h2, .extras p {
  text-align: center;
}
.extras h2 {
  font-size: 2em;
}
.extras img {
  width: 7em;
  height: 7em;
}
@media screen and (min-width: 47.8125em) {
  .extras img {
    margin-bottom: 1.5em;
  }
}
@media screen and (min-width: 47.8125em) {
  .extras .extrasWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 47.8125em) {
  .extras .extras_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.extras .extrasDescription h3, .extras .extrasDescription p {
  text-align: left;
  margin-bottom: 1em;
}
@media screen and (min-width: 47.8125em) {
  .extras .extrasDescription h3, .extras .extrasDescription p {
    text-align: center;
  }
}
.extras .extrasDescription p {
  font-size: 0.9em;
}
@media screen and (min-width: 47.8125em) {
  .extras .extrasDescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.earningStars {
  margin-top: 6em;
}