@import '../../../scss/variables.scss';
@import '../../../scss/mixin.scss';

* {
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    padding: unset;
}

body {
    font-family: 'Roboto Slab',sans-serif;
}

p {
    font-size: 1em;
}

a {
    color : $dark_gray;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

h2 {
    border-bottom: none !important;
}

h3 {
    font-size: 1em;
    color : rgba(0,0,0,.87);
    margin-bottom: 1em;
}

.rewardNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 10px;
    background-color: $dark_gray;
    border: 1px solid #edebe9;

    div {
        color : white;
        font-family: 'Roboto Slab', sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        font-size: .8em;
    }

    .buttonNav {
        background-color: transparent;
        padding : 5px 10px;
        border-radius: 50px;
        color : white;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        font-weight: 900;

        
        &:hover {
            background-color: $brown;
        }
        
        @include mQ(47.8125em) {
            display: none;
        }
    }
}

// hero section
.hero {
    background-color: $light_gray;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include mQ(47.8215em) {
        flex-direction: row;
    }

    .heroDesc {
        margin-top: 1em;

        @include mQ(47.8215em) {
            text-align: left;
            margin-left: 1em;
        }

        h1 {
            @include mQ(47.8215em) {
                font-size: 2.5em;
            }
    
        }

        p {
            text-decoration: none;
            @include mQ(47.8215em) {
                font-size: 1.2em;
            }
        }

        a{
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

    }

    .imageHero {
        background-image: url('../asset/hero-mobile_2021.jpg');
        background-repeat: no-repeat;
        background-position-y: bottom ;
        background-size: cover;
        width: 100%;
        height : 60vh;

        @include mQ(47.8215em) {
            background-image: url('../asset/xl-hero-desktop_2021.png');
            background-position: -30em center;
            width: 60%;
        }
    }

    .cta-join {
        margin-block: 2em 1em;
        background-color: $brown;
        color : white;
        font-weight: 900;
        font-size: 1em;
        padding : 10px 15px;
        border-radius: 50px;
        border : none;
        cursor: pointer;
    }
}

// rules section
.item_flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap : .8em;
    margin-top: 2em;
}

.rules {
    padding : 4em 1em;

    h2 {
        font-size: 2em;
    }

    h2,p {
        text-align: center;
    }

    p {
        font-size: .9em;
    }

    .rulesWrap {
        display: flex;
        flex-direction: column;
        margin-top: 3em;

        @include mQ(47.8125em) {
            flex-direction: row;
            gap : 2em;
        }
    }
    
    .number {
        padding : 10px;
        border : 2px solid $brown;
        border-radius: 50%;
        width : 50px;
        height : 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        color : $brown;
    }

    .rules_description {
        width : 100%;

        p {
            text-align: left;

            @include mQ(47.8125em) {
                text-align: center;
                font-size: 1.1em;
                line-height: 1.5em;
            }
        }
    }

    .rules_item {   
        @include mQ(48.8215em) {
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}

// rewards section
.rewards {
    background-color : rgba(212,233,226,.33);
    text-align: center;

    h2 {
        font-size: 2em;
        padding-top: 20px;
    }

    .pointsWrap {
        width : 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap : 1em;

        button {
            border: none;
            background-color: transparent;
            font-size: 2em;
            display: flex;
            align-items: flex-end;
            padding : 10px;
            cursor: pointer;
        }

        .clicked {
            border-bottom: 3px solid $brown;
        }

        .color {
            background-color: yellow;
        }
    }

    .rewardsItem {
        box-shadow: inset 0 7px 9px -7px rgba(0,0,0,.14);
        background-color: #d4e9e2;

        @include mQ(47.8125em) {
            display: flex;
            align-items: center;
            padding-block : 3em;
        }

        img {
            width: 100%;
            height: auto;
        }

        div {
            padding : 20px;
            @include mQ(47.8125em) {
                text-align: left;
            }
        }

        h3 {

            @include mQ(47.8125em) {
                font-size: 1.6em;
            }
        }
    }
}

// extras section
.extras {
    padding : 20px;

    h2,p {
        text-align: center;
    }

    h2 {
        font-size: 2em;
    }

    img {
        width: 7em;
        height: 7em;

        @include mQ(47.8125em) {
            margin-bottom: 1.5em;
        }
    }

    .extrasWrap {
        
        @include mQ(47.8125em) {
            display: flex;
        }
    }

    .extras_flex {

        @include mQ(47.8125em) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
    }

    .extrasDescription {
        

        h3,p {
            text-align: left;
            margin-bottom: 1em;

            @include mQ(47.8125em) {
                text-align: center;
            }
        }
        
        p {
            font-size: .9em;
        }

        @include mQ(47.8125em) {
            display: flex;
            flex-direction: column;
            align-items: center;
        } 
    }

}

// earning stars section

.earningStars {
    margin-top: 6em;
}
